In [38]:
# MOdlo para cargar los datos desde el fichero

import pandas as pd
import numpy as np
def CargaDatos(ruta, fichero):
    fichero = "test-data.csv"
    datos=pd.read_csv(ruta+fichero)
    return datos

In [19]:
# ufncion que devuelve las columas del fichero:

def dameColumnaas(datos):
    return datos.columns

In [ ]:
# Funcion para giardar los datos:

def guardar_datos(datos, ruta, fichero):
    datos.to_csv(ruta+fichero)
    print("Archivo guardado !!")

In [35]:
# Funcion que entrega datos estadisticos:

def Dame_estadisticas(datos, tipo='numerico'):
    """tipo numerico o todos"""
    if tipo == 'numerico':
        return datos.describe()
    elif tipo == 'todos':
        return datos.describe(include='all')
    else:
        print("Tipo de datos incorrecto")
        print("numerico o todos")

In [ ]:
# Reemplazar datos nulos por la medias

def reemplazar_nulos_medias(datos, columna):
    media = datos[colummna].mean()
    datos[colummna].replace(np.nan, media, inplace=True)
    return datos
# Funcion para detectar y eliminar outlie rs

In [16]:
if __name__ == "__main__":
    ruta = "D:\\Cursos\\CienciaDeDatosPython\\Datos\\"
    fichero = 'test-data.csv'
    datos  = CargaDatos(ruta, fichero)

In [17]:
datos.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [20]:
dameColumnaas(datos)

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price'],
      dtype='object')

In [26]:
guardar_datos(datos, ruta, 'copia.csv')

Archivo guardado !!

In [37]:
Dame_estadisticas(datos, 'numerico')

        Unnamed: 0         Year  Kilometers_Driven        Seats
count  1234.000000  1234.000000        1234.000000  1223.000000
mean    616.500000  2013.400324       58507.288493     5.284546
std     356.369424     3.179700       35598.702098     0.825622
min       0.000000  1996.000000        1000.000000     2.000000
25%     308.250000  2011.000000       34000.000000     5.000000
50%     616.500000  2014.000000       54572.500000     5.000000
75%     924.750000  2016.000000       75000.000000     5.000000
max    1233.000000  2019.000000      350000.000000    10.000000

In [40]:
reemplazar_nulos_medias(datos, Year)

NameError: name 'Year' is not defined